* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    background: powderblue;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    font: Verdana;
    font-weight: bold;
    min-height: 50px;
    font-size: 25px;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    flex: 0.25;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.item2 {
    text-align: center;
    font: Noto sans;
    background-color: crimson;
    min-height: 50px;
}

.item3 {
    text-align: center;
    font: Noto sans;
    flex: 1;
}

.right {
    text-align: center;
    font: Noto sans;
    background-color: green;
    flex: 0.25;
}

p {
    padding: 20px 15px;
    font-size: 28px;
}

.item5 {
    text-align: center;
    font: Noto sans;
    flex: 1;
}

.item6 {
    text-align: center;
    font: Noto sans;
    color: white;
    min-height: 100px;
    background-color: purple;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    font: Verdana;
    font-weight: bold;
    min-height: 50px;
    font-size: 25px;
}

.footer>div {
    margin: 2% 5%;
}

.item3>img {
    max-width: 100%;
}

.item4>p,
.item5>p {
    padding: 5px 5px;
}

.grid-wrapper>div {
    text-align: center;
}

#x {

    margin: 2%;
    padding: 0px auto;
    width: auto;
    background-color: #ffffff;
    border: 2px #000000 solid;
    font-size: 20px;
    text-align: center;
    flex: 0.15;
}

#y {
    margin: auto 10px;
    padding: 0 auto;
    max-height: 90px;
    background-color: #ffffff;
    border: 2px #000000 solid;
    font-size: 25px;
    text-align: center;
    flex: 0.15;
}

#copyright {
    padding: 2%;
    flex: 0.85
}

#menu {
    flex: 0.85;
    display: flex;
    flex-direction: row;
}

#menu>li {
    margin: auto;
    text-align: center;
    display: inline;
    flex: auto;
}